<!-- use Twitter Bootstrap -->
<div class = 'card'>
    <div class = 'card-header'>
        Product List
    </div>
    
    <div class = 'card-body'>
        <div>
            <p-button (click)="showDialog()"
                      label="Add Product"
                      class="custom-button">
                <i class="fa-solid fa-plus"></i>
            </p-button>
            <p-dialog header="Add new product"
                      [modal]="true"
                      [(visible)]="visible"
                      [style]="{ width: '40rem', maxHeight: '80vh', overflow: 'auto'}">
                <div class="flex align-items-center gap-3 mb-3">
                    <label for="name"
                           class="font-semibold w-6rem">Name:</label>
                    <input pInputText
                           id="name"
                           [(ngModel)]="newProductName"
                           (input)="nameError = false"
                           class="custom-input"
                           autocomplete="off" />   
                    <div *ngIf="!newProductName && nameError"
                         class="text-red-500">
                         Name field cannot be empty!
                        </div>
                </div>
                <div class="flex align-items-center gap-3 mb-5">
                    <label for="description"
                           class="font-semibold w-6rem">Description: </label>
                    <textarea pInputText
                              id="description"
                              [(ngModel)]="newProductDescription"
                              class="custom-input"
                              autocomplete="off"></textarea>
                </div>
                <div class="flex justify-content-end gap-2 button-container">
                    <p-button class="cancel-button"
                              label="Cancel"
                              (click)="resetForm()">
                        <i class="fas fa-times"></i>
                    </p-button>
                    <p-button label="Save"
                              (click)="validateAndInsert()">
                        <i class="fa-solid fa-floppy-disk"></i>
                    </p-button>
                </div>
            </p-dialog>
        </div>
        <div class = 'table-responsive table-container'>
            <table class="table custom-table" *ngIf = 'products.length'>
                <thead class="my-thead"> <!--table head-->
                    <tr> <!--table row-->
                        <th>ID</th>
                        <!-- <th>Name</th> -->
                        <th (click)="sortBy('productName')">Name <i class="fas fa-sort"></i></th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="body-main"> <!--table body-->
                    <tr *ngFor = 'let product of products'>
                        <td>{{product.productId}}</td> <!--table data-->
                        <td>
                            <a [routerLink]="['/product', product.productId]">{{product.productName}}</a>
                        </td>
                        <td>{{product.date | dateFormat}}</td>
                        <td>{{product.productDescription}}</td>
                        <td>
                            <button class="btn update-btn"
                                    (click)="updateRow(product.productId)">
                                <i class="fa-solid fa-pen-to-square"></i>
                                Update
                            </button>
                            
                            <button class="btn delete-btn"
                                    (click)="deleteRow(product.productId)">
                                <i class="fa-solid fa-trash"></i>
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>